			body{
				margin:0;
				font-family: 'Roboto', sans-serif;
				background-color: #191919;
			}


			.topbar{
				display:flex;
				flex-direction:row;
				align-items:center;
				justify-content: space-evenly;
				width: 100%;
				height: 5vh;
				top:0;
				background-color: #FAD002;
				position: sticky;
				border-bottom:1vh solid #ffbb00;
				opacity:0;
				transition: height 300ms, opacity 400ms ease-out;	
			}

			.topbar:hover{
				height: 10vh;
				opacity:1;
			}

			.title{
				text-align: center; 
				background-color:#FAD002;
				height: 15vh;
				margin:0px;
				padding:0px;
				width: 100%
			}

			.titletext{
				font-size: 400%;
				text-decoration: none;
				font-weight: bold;
				color: #595959;
				width: 20%;
			}

			.buttonT {
				  background-color: #ffbb00;
				  border:0.4vh solid #ffbb00;
				  color:#595959; 
				  padding-top: 1vh;
				  padding-bottom:1vh;
				  padding-left: 1vw;
				  padding-right: 1vw;
				  text-align: center;
				  text-decoration: none;
				  font-size: 150%;
				  border-radius:10px;
				  font-weight: bold;
				  transition: background-color 200ms;
			}

			.buttonT:hover{
				background-color: #ffa200;
			}

			.logindiv{
				margin:auto;
				margin-top:40vh;
				width: 20%; 
				text-align:center; 
				border:0.6vh solid #ffbb00; 
				background-color:#ffd000; 
			}

			.perfil{
				float:right;
				width: 20vw;
				background-color:#FAD002;
				height: 10vh;
				margin: 1% 1%;
				text-align: center;
				border-radius:10px;
				transition: width 300ms,background-color 100ms, color 250ms linear;
				color: #FAD002;
			}

			.perfil:hover{
				width: 15vw;
				background-color: #ffbb00;
				color:white;
			}

			.perfilimage{
				width:10vh;
				height: 10vh;
				float:right;
			}
		
			form{
				    margin-block-end:0;
			}
			.texttotal{
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;

			}
			.textstyle{
				color: white;
				font-size: 140%;
				margin-top:5%;
				width: 40%;
				text-align: justify;
			}

			.textstyle2{
				color: white;
				font-size: 140%;
				margin-top:5%;
				width: 40%;
				text-align: justify;
			}
			.arrow{
				margin:auto;
				background-color: pink;
				
			}

			.campoacc{
				width: 20vw;
				height: 15vh;
				color: #595959;
				font-weight: bold;
				text-align: center;

			}
			.textstyleacc{
				font-size: 150%;

			}
			.bgacc{
				display:flex;
				flex-direction:row;
				justify-content: flex-end;
				background-color: #FAD002;
				width: 55%;
				margin:auto;
			}

			table.tableacc {
				background-color: #595959;
				width: 100%;
				height: 200%;
				text-align: center;
				border-collapse: collapse;
			}

			table.tableacc td, table.tableacc th {
				border: 0px solid #000000;
				padding: 5px 4px;
				}
			table.tableacc tbody td {
				font-size: 13px;
				color: #FFFFFF;
			}

			table.tableacc thead {
				background: #FAD002;
			}

			table.tableacc thead th {
				font-size: 15px;
				font-weight: bold;
				color: #000000;
				text-align: center;
			}

			table.tableacc tfoot td {
				font-size: 14px;
			}

			.tableaccdiv{
				width: 80%;
				margin:10%;
				margin-top: 5%;
			}

			.texttitle{
				color: white;
				font-size: 160%;
				margin-left:2%;
				text-align: center;
			}
			
			.bgdiv{
				margin-top: 5%;
			}