			body{
				margin:0;
			}

			.topbar{
				width: 100%;
				height: 10vh;
				background-color: #ffd000;
				top:0;
				position: sticky;
				border-bottom:1vh solid #ffbb00;
				padding-top:1%;
			}
			.title{
				text-align: center;
				padding-top:1%; 
				background-color:#ffd000;
				margin:0px;
				padding:0px;
			}

			.titletext{
				font-size: 400%;
				text-decoration: none;
				font-weight: bold;
				color: #ff9900;
				margin:0px;
				padding:0px;
			}

			.buttonR {
				  background-color: #ffbb00;
				  border:0.4vh solid #ffbb00;
				  color: white;
				  margin-right:1%;
				  margin-bottom: 1%;
				  margin-top: 1%;
				  padding: 0.8vh;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 100%;
				  font-weight: bold;
				  cursor: pointer;
				  float:right;
			}

			.buttonL {
				  background-color: #ffbb00;
				  border:0.4vh solid #ffbb00;
				  color: white;
				  margin-left:1%;
				  margin-bottom: 1%;
				  margin-top: 1%;
				  padding: 0.8vh;
				  text-align: center;
				  text-decoration: none;
				  display: inline-block;
				  font-size: 100%;
				  font-weight: bold;
				  cursor: pointer;
				  float:left;
			}

			.buttonP:hover{
				background-color: #ffa200;
			}

			.logindiv{
				margin:10% 40%;
				width: 15%; 
				height: 15%; 
				text-align:center; 
				border:0.6vh solid #ffbb00; 
				background-color:#ffd000; 
			}

			.perfil{
				float:left;
				width: 20%;
				background-color: grey; 
				height: 10vh;
				padding: 0px;
				margin: 0px;	
			}
